<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573770242419-a386eocb8811gn0flgemec8ffptg85h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573770242419-a386eocb8811gn0flgemec8ffptg85h4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>573770242419-s23q2dbhn3om9ri1o0j1os7hibvnp3f4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJxsZ0jftH2WOXrXxDBTn-wGZOySXN2Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>573770242419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asaferdman.FootballForFriends.ios</string>
	<key>PROJECT_ID</key>
	<string>footballforfriends-21e9c</string>
	<key>STORAGE_BUCKET</key>
	<string>footballforfriends-21e9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573770242419:ios:1fdd0f2f6e15486b990d06</string>
</dict>
</plist>